.article__info {
  visibility: hidden;
  max-height: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ebebeb;
  padding: 0;
  border-radius: 23px;
  transition: all 0.1s;
  opacity: 0;
}
