.menu__find {
    color: #f9f8fb;
    background-color: black;
    border: none;
    border-radius: 30px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.32;
    height: 50px;
    width: 161px;
    margin-top: 5px;
    cursor: pointer;
    transition: .4s;
}

.menu__find:hover {
    opacity: .6;
}